<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | aiplugs functions</title>
    <link rel="icon" type="image/png" href="~/favicon.ico">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Comfortaa" > 
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a asp-controller="Home" asp-action="Index" asp-route-id="" class="navbar-brand">Sample | <span class="logo">aiplugs functions</span></a>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2018 - <span class="logo">aiplugs</span></p>
        </footer>
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
